.select {
    margin-top: 20px;
    min-width: 40px;
    min-height: 20px;
    display: inline-block
}

.main {
    border: 1px solid black;
    padding: 5px
}

.items {
    border: 1px solid black;
    padding: 5px
}

.itemSelected {
    background-color: lavender;
}